{% include "header.html" %}

<form method="POST" action="{{ url_for('login') }}">
    <p> Log in </p>
    {{ form.csrf_token }}
    {{ form.user_name.label }} {{ form.user_name(size=20) }}
    {{ form.user_password.label }} {{ form.user_password(size=20) }}
    {{ form.submit }}
    <p> New user? </p><a class="register" href="{{ url_for('register') }}">Register</a>
</form>
<div class="flash">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="flashed">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

{% include "footer.html" %}